body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



img{
  width: 150px;
  border: 2px solid black;
  height: 150px;
}
.items{
  width: 152px;
  height:350px;
  margin-left: 20px;
  margin-top: 30px;
  border: 2px solid black;
  list-style: none;
  }
  li{
    padding: 10px;
  }
  
div{
float: left;

}
 u{
  list-style: none;
  text-decoration: none;
  font-size: 12px;
 }
 h2{
  font-size: 18px;
  font-weight: bold;
  margin: 1px;
 }
 p{
 font-size: 18px;
 }